{% include base_path %}
{% assign lang = include.lang | default: page.lang | default: "en" %}

<ul class="experience-list">
  {% for item in site.data.experience %}
    {% assign org = site.data.organizations[item.org] %}
    {% if lang == "zh" %}
      {% assign role = item.role_zh %}
      {% assign period = item.period_zh %}
      {% assign org_name = org.name_zh %}
    {% else %}
      {% assign role = item.role_en %}
      {% assign period = item.period_en %}
      {% assign org_name = org.name_en %}
    {% endif %}
    <li class="experience-item">
      <strong>{{ role }}</strong>,
      <a class="org-inline-link" href="{{ org.url }}" target="_blank" rel="noopener noreferrer">
        <img class="org-inline-logo" src="{{ org.logo | prepend: '/images/' | prepend: base_path }}" alt="">
        {{ org_name }}
      </a>,
      {{ period }}
    </li>
  {% endfor %}
</ul>
