{% include base_path %}
{% assign org = site.data.organizations[include.org] %}
{% assign lang = include.lang | default: page.lang | default: "en" %}
{% if lang == "zh" %}
  {% assign org_name = org.name_zh %}
{% else %}
  {% assign org_name = org.name_en %}
{% endif %}

<p class="project-org">
  <a class="org-inline-link" href="{{ org.url }}" target="_blank" rel="noopener noreferrer">
    <img class="org-inline-logo" src="{{ org.logo | prepend: '/images/' | prepend: base_path }}" alt="">
    {{ org_name }}
  </a><span aria-hidden="true"> · </span>{{ include.period }}
</p>
